@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron background-color">
    <h1 class="text-center f-title">CakesInFamily</h1>
    <hr>
    <h3 class="text-center f-subtitle">Los mejores de la ciudad</h3>
</div>

<div class="row text-center my-5">
    <div class="col-md-4 ">
        <h2>Productos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.
        </p>
        <p>@Html.ActionLink("Productos", "Productos", "Database")</p>
    </div>
    <div class="col-md-4">
        <h2>Proveedores</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.</p>
        <p>@Html.ActionLink("Proveedores", "Proveedores", "Database")</p>
    </div>
    <div class="col-md-4">
        <h2>Facturas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.</p>
        <p>@Html.ActionLink("Facturas", "Facturas", "Database")</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>Compras</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.
        </p>
        <p>@Html.ActionLink("Compras", "Compras", "Database")</p>
    </div>
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.</p>
        <p>@Html.ActionLink("Ventas", "Ventas", "Database")</p>
    </div>
    <div class="col-md-4">
        <h2>Carrito</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, accusantium in. Corporis tempora a debitis. Libero eius, beatae dicta fugiat assumenda enim. Nihil esse reprehenderit provident quod, hic adipisci dolorum.</p>
        <p>@Html.ActionLink("Carrito", "Carrito", "Database")</p>
    </div>
</div>