@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron background-color">
    <h1 class="text-center f-title">CakesInFamily</h1>
    <hr>
    <h3 class="text-center f-subtitle">Los mejores de la ciudad</h3>
</div>

<div class="row text-center my-5">
    <div class="col-md-4 "> 
        <img src="../img/cake2.jpg" class="Pasteles"/>
        <h2>Productos</h2>
        <p>Aquí encontraras un catálogo de nuestros mejores productos de repostería.</p>
        <p>@Html.ActionLink("Productos", "Productos", "Database")</p>
    </div>
    <div class="col-md-4">
        <img src="../img/proveedores.jpg" class="Pasteles" />
        <h2>Proveedores</h2>
        <p>Aquí podrás encontrar toda la información de los productores y proveedores de todos nuestros ingredientes y productos.</p>
        <p>@Html.ActionLink("Proveedores", "Proveedores", "Database")</p>
    </div>
    <div class="col-md-4">
        <img src="../img/facturas.jpg" class="Pasteles" />
        <h2>Facturas</h2>
        <p>Aquí podrás consultar y descargar las facturas de tus compras de los ultimos 6 meses.</p>
        <p>@Html.ActionLink("Facturas", "Facturas", "Database")</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <img src="../img/compras.jpeg" class="Pasteles" />
        <h2>Compras</h2>
        <p>Aquí podrás consultar el historial de las compras que hayas realizado con nosotros.</p>
        <p>@Html.ActionLink("Compras", "Compras", "Database")</p>
    </div>
    <div class="col-md-4">
        <img src="../img/ventas.jpg" class="Pasteles" />
        <h2>Ventas</h2>
        <p>Aquí podrás ver nuestros productos más vendidos del el último mes.</p>
        <p>@Html.ActionLink("Ventas", "Ventas", "Database")</p>
    </div>
    <div class="col-md-4">
        <img src="../img/carrito.jpg" class="Pasteles" />
        <h2>Carrito</h2>
        <p>Selecciona los productos que desees y añádelos aquí para una experiencia de compra más fácil y rápida.</p>
        <p>@Html.ActionLink("Carrito", "Carrito", "Database")</p>
    </div>
</div>